.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
  }
  
  .infected {
    border-bottom: 10px solid #EAC435;
  }
  
  .recovered{
    border-bottom: 10px solid #03CEA4;
  }
  
  .deaths{
    border-bottom: 10px solid #E40066;
  }

  .title_card {
    margin-bottom: 30px;
    color: #30292F;
    text-shadow: 2px 2px 3px #3F4045;
    font-weight: bold;
  }